In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
green_taxi_data = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz")
green_taxi_data.tail()

C:\Users\user\AppData\Local\Temp\ipykernel_2860\2933072135.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  green_taxi_data = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
476381,NaN,2019-10-31 23:30:00,2019-11-01 00:00:00,NaN,NaN,65,102,NaN,7.04,29.57,2.75,0.5,0.0,0.00,NaN,0.0,32.82,NaN,NaN,NaN
476382,NaN,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,39.83,2.75,0.5,0.0,6.12,NaN,0.0,49.20,NaN,NaN,NaN
476383,NaN,2019-10-31 23:02:00,2019-10-31 23:23:00,NaN,NaN,61,222,NaN,3.90,23.11,2.75,0.5,0.0,0.00,NaN,0.0,26.36,NaN,NaN,NaN
476384,NaN,2019-10-31 23:42:00,2019-10-31 23:56:00,NaN,NaN,76,39,NaN,3.08,15.23,2.75,0.5,0.0,0.00,NaN,0.0,18.48,NaN,NaN,NaN
476385,NaN,2019-10-31 23:23:00,2019-10-31 23:56:00,NaN,NaN,56,215,NaN,6.84,36.12,2.75,0.5,0.0,0.00,NaN,0.3,39.67,NaN,NaN,NaN

In [13]:
green_taxi_data["lpep_pickup_datetime"] = pd.to_datetime(green_taxi_data["lpep_pickup_datetime"])
green_taxi_data["lpep_dropoff_datetime"] = pd.to_datetime(green_taxi_data["lpep_dropoff_datetime"])
green_taxi_data.dtypes
len(green_taxi_data)

476386

In [22]:
oct_nov_pickup = green_taxi_data[
    (green_taxi_data["lpep_pickup_datetime"] >= "2019-10-01") & 
    (green_taxi_data["lpep_pickup_datetime"] < "2019-11-01") &
    (green_taxi_data["lpep_dropoff_datetime"] >= "2019-10-01") & 
    (green_taxi_data["lpep_dropoff_datetime"] < "2019-11-01") 
]

upto1mile = (oct_nov_pickup["trip_distance"]<=1).sum()
upto1mile

104802

In [25]:
upto3mile = ((oct_nov_pickup["trip_distance"]>1) & (oct_nov_pickup["trip_distance"]<=3)).sum()

upto3mile

198924

In [27]:
upto7mile = ((oct_nov_pickup["trip_distance"]>3) & (oct_nov_pickup["trip_distance"]<=7)).sum()
upto7mile

109603

In [28]:
upto10mile = ((oct_nov_pickup["trip_distance"]>7) & (oct_nov_pickup["trip_distance"]<=10)).sum()
upto10mile

27678

In [29]:
over10mile = (oct_nov_pickup["trip_distance"]>10).sum()
over10mile

35189

In [33]:
green_taxi_data.groupby("lpep_pickup_datetime")["trip_distance"].max().sort_values(ascending=False)

lpep_pickup_datetime
2019-10-31 23:23:41    515.89
2019-10-11 20:34:21     95.78
2019-10-26 03:02:39     91.56
2019-10-24 10:59:58     90.75
2019-10-05 16:42:04     85.23
                        ...
2019-10-05 12:30:28      0.00
2019-10-05 12:27:55      0.00
2008-10-21 15:52:05      0.00
2019-10-23 00:26:00     -0.63
2019-10-23 00:11:00     -6.93
Name: trip_distance, Length: 377239, dtype: float64

In [46]:
green_taxi_data[green_taxi_data["lpep_pickup_datetime"] == "2019-10-18"]
# (green_taxi_data.groupby("PULocationID")["trip_distance"].sum())> 13000

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [60]:
period = green_taxi_data[(green_taxi_data["lpep_pickup_datetime"] >= "2019-10-01") & \
         (green_taxi_data["lpep_pickup_datetime"] <= "2019-10-31")]

data = period[period["PULocationID"] == 73]
data.groupby("DOLocationID")["tip_amount"].max().sort_values(ascending=False)

DOLocationID
132    15.00
16      6.84
75      5.00
28      4.76
73      3.60
       ...
129     0.00
130     0.00
131     0.00
9       0.00
265     0.00
Name: tip_amount, Length: 61, dtype: float64

In [66]:
zones = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv")
zones[zones["Zone"] == "East Harlem North"]
# zones


zones.loc[zones["Zone"] == "East Harlem North"]
zones[zones["LocationID"] == 132]

     LocationID Borough         Zone service_zone
131         132  Queens  JFK Airport     Airports